@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .newspaper-container {
    max-width: 800px;
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  header {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .date {
    font-size: 12px;
    color: #888;
  }
  
  h1 {
    margin: 0;
    font-size: 2.5em;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  main h2 {
    font-size: 1.8em;
    margin-bottom: 5px;
  }
  
  main h5 {
    font-size: 1.1em;
    color: #777;
    margin-top: 0;
  }
  
  main img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
  }
  
  main p {
    text-align: justify;
    line-height: 1.6;
    color: #333;
  }
  
  .more-articles section {
    margin-top: 20px;
  }
  
  .more-articles h4 {
    font-size: 1.4em;
    margin-bottom: 5px;
  }
  
  .more-articles img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
  }
  
  .more-articles p {
    text-align: justify;
    line-height: 1.6;
    color: #333;
  }
  